@import '../../styles/settings.scss';

.navigation {
  background: darken($color-dark, 3%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 24px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.list a {
  text-decoration: none;
  color: $color-light;
  margin-right: 10px;
}
